:root {
  --text-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors*/
  --accent-color: #2196F3;
  --main-text-color: #212121;
  --secondary-text-color: #FFF;
  --description-text-color: #757575;
  /* Background colors */
  --main-background-color: #fff;
  --background-color-dark: #2F303A;
  --background-color-light: #F5F4FA;
  /* Animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: var(--text-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.link {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo--black {
  color: #000;
}
.logo-white {
  color: var(--secondary-text-color);
}

.header__logo {
  margin-right: 93px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-transition: opacity var(--animation), visibility var(--animation);
  transition: opacity var(--animation), visibility var(--animation);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background: var(--main-background-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-button-icon {
  fill: #212121;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal-button:hover .modal-button-icon, .modal-button:focus .modal-button-icon {
  fill: var(--accent-color);
}

.modal-wrapper-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.6px;
  display: block;
  margin-bottom: 12px;
}

.form-group,
.form-policy-group {
  display: block;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  color: var(--description-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  text-align: left;
  margin-bottom: 4px;
}

.form-input {
  outline: transparent;
  width: 100%;
  padding: 11px 12px 11px 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  font-size: 14px;
}
.form-input:hover, .form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 13px;
  fill: #212121;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.form-input:hover + .form-icon, .form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  outline: transparent;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
  font-size: 12px;
}
.form-textarea:hover, .form-textarea:focus {
  border: 1px solid var(--accent-color);
}
.form-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-policy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: background-color var(--animation), outline-color var(--animation), outline var(--animation);
  transition: background-color var(--animation), outline-color var(--animation), outline var(--animation);
}
.custom-checkbox:hover, .checkbox:focus ~ .custom-checkbox {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}
.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
  fill: #EEE;
}

.policy-description {
  color: var(--description-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.policy-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  -webkit-transition: border-bottom var(--animation);
  transition: border-bottom var(--animation);
}

.form-button {
  padding: 10px 52px;
}

.form-button {
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.footer-form-title {
  display: block;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-input {
  width: 358px;
  padding: 15px;
  outline: transparent;
  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  -webkit-transition: outline var(--animation);
  transition: outline var(--animation);
}
.footer-form-input:hover, .footer-form-input:focus {
  outline: 1px solid var(--accent-color);
  outline-offset: -2px;
}

.footer-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 10px 28px;
}

.footer-form-icon {
  fill: #FFF;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  margin-right: 8px;
}
.portfolio-button:last-child {
  margin-right: 0;
}

.button {
  background-color: var(--background-color-light);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 25px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.active-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-background-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), color var(--animation);
  transition: background-color var(--animation), color var(--animation);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: #FFF;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: #FFF;
}

.header {
  border-bottom: 1px solid #EEE;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigations__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navigations__item {
  margin-right: 50px;
}
.header-navigations__item:last-child {
  margin-right: 0;
}

.header-navigations__link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-navigations__link:hover, .header-navigations__link:focus {
  color: var(--accent-color);
}

.header-navigations--active-link {
  color: var(--accent-color);
}
.header-navigations--active-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3.85px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts__link {
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts__item {
  margin-right: 50px;
}
.header-contacts__item:last-child {
  margin-right: 0px;
}

.hero {
  background-color: var(--background-color-dark);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--secondary-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__item {
  margin-right: 30px;
  width: 270px;
}
.advantage__item:last-child {
  margin-right: 0px;
}

.advantages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: var(--background-color-light);
  margin-bottom: 30px;
}

.advantage__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__desc {
  color: var(--description-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.skils {
  padding-bottom: 94px;
}

.skils__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.skils__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skils__item {
  margin-right: 30px;
  position: relative;
}
.skils__item:last-child {
  margin-right: 0px;
}

.skils__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--secondary-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: var(--background-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item {
  margin-right: 30px;
  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-item:last-child {
  margin-right: 0;
}

.member-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-member-desc {
  color: var(--description-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition: border-color var(--animation), color var(--animation);
  transition: border-color var(--animation), color var(--animation);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: #AFB1B8;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
.clients__item:hover .clients__icon, .clients__item:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.navigation-group {
  margin-right: 70px;
}

.map-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.42px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.map-link:hover, .map-link:focus {
  color: var(--accent-color);
}

.footer-contacts {
  margin-top: 20px;
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  margin-top: 9px;
}
.contact-link:hover, .contact-link:focus {
  color: var(--accent-color);
}

.footer-socials-group {
  margin-right: 110px;
}

.footer-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-socials-title {
  color: #FFF;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.progect-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.progect-type {
  color: var(--description-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.portfolio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-item {
  /* flex-basis: calc(100% / 3 -30px); */
  margin-top: 30px;
  margin-left: 30px;
}

.project-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  background-color: rgba(33, 150, 243, 0.9);
}
.project-item:hover .overlay, .project-item:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.project-desc {
  padding: 20px 24px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}/*# sourceMappingURL=main.css.map */