.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.portfolio-button {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}

.button {
    background-color: var(--background-color-light);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    padding: 6px 25px;

    transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--secondary-text-color);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}

.active-button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}