.team {
    background-color: var(--background-color-light);
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;

    margin-bottom: 30px;

    @include mq(desktop) {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1.08px;
    
        margin-bottom: 50px;
    }    
}

.team-list {
    align-items: center;
    justify-content: center;

    @include mq(mobile-only) {
        display: block;
    }


    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    @include mq(desktop) {
        display: flex;
        align-items: center;
    }

    @include mq(min-only) {
        display: flex;
        flex-direction: column;
    }

}

.team-item {
    display: block;
    background-color: var(--main-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @include mq(mobile-only) {
        margin-bottom: 30px;
        width: 450px;
    }

    @include mq(tablet-only) {
        flex-basis: calc((100% - 1*30px)/2);
    }

    @include mq(desktop) {
        flex-basis: calc((100% - 3*30px)/4);

    }

    @include mq(min-only) {
        margin-bottom: 20px;
        width: 290px;
            
    }
}

.team-img {
   
    @include mq(desktop) {
        width: 270px;
        height: 260px;
    }
}

.member-desc {
    padding-top: 30px;
    padding-bottom: 24px;

    @include mq(desktop) {
        padding-bottom: 30px;

    }
}

.team-member {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;

    margin-bottom: 10px;

}

.team-member-desc {
    color: var(--description-text-color);
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;

    margin-bottom: 16px;
}

